# Hello World Python

In [ ]:
print ("Hello World") # Print Function

Hello World

In [ ]:
# Print an integer
print (123)

123

Accessing documentation for a function using ??
You can use ?? to display the documentation for any function in Python.

In [22]:
# Accessing documentation for the print function
print??

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

# Variables, Data Types, Lists and Dictionaries

CRUD stand for create read update and detelte. Understanding these is crucial when learning any programming language.

### Variables

A variable is a name that you assign to a value, allowing storage, retrieval, and manipulation of data. Variables act as containers for data and can hold different types of information such as numbers, strings, lists, and more.

Variables make your code more readable and maintainable by allowing you to use meaningful names to represent data.

In [ ]:
# Example of declaring and printing a variable

Var1 = "Test Variable"

In [ ]:
#Check whaether the variable is defined correctly
Var1

'Test Variable'

In [ ]:
# Print the variable using print function
print(Var1)

Test Variable

In [ ]:
# Checking the type of the variable
type(Var1)

str

In [ ]:
# Reassigning a new value to the existing variable
Var1 = 12

### Fundamental data types in Python ###

**Numerical Data Types:**

1. Integer (int): Represents whole numbers without any decimal point. 
Examples: 5, -10, 1000.

2. Float (float): Represents real numbers with a decimal point. 
Examples: 8.14, -0.5, 2.0.

3. Complex (complex): Represents numbers with a real and imaginary part.
Examples: 3 + 4j, 1.5 - 2.5j.
    
**Non-Numerical Data Types:**

1. String (str): Represents a sequence of characters enclosed within single quotes (') or double quotes ("). 
Examples: 'hello', "python", '123'.

2. Boolean (bool): Represents a logical value indicating either True or False. 
Examples: True, False.  

3. List (list): Represents an ordered collection of elements.
Example: list_variable = [1, 2, 3, 4.5, 5.55, "A", "B", "C"]

4. Tuple (tuple): Represents an ordered, immutable collection of elements.
Example: tuple_variable = (1, 2, 3, 4.5, 5.55, "A", "B", "C")

5. Set (set): Represents an unordered collection of unique elements.
Example: set_variable = {1, 2, 3, 4.5, 5.55, "A", "B", "C"}

6. Dictionary (dict): Represents a collection of key-value pairs.
Example: dict_variable = {"key1": "value1", "key2": "value2", "key3": "value3"}

### Data Types

Fundamental data types in Python

Numerical Data Types:

- **Integer (int):** Represents whole numbers without any decimal point.

In [ ]:
# Declaring varible for Integer
Integer_variable = 10

print(Integer_variable)
type(Integer_variable)

10

int

- **Float (float):** Represents real numbers with a decimal point.

In [ ]:
# Declaring varible for Floating numbers
Float_variable = 3.14

print(Float_variable)
type(Float_variable)

3.14

float

- **Complex (complex):** Represents numbers with a real and imaginary part. It's written as a + bj, where a and b are floats and j represents the imaginary unit.

In [ ]:
# Declaring varible for Complex numbers
Complex_variable = 3 + 4j

print(Complex_variable)
type(Complex_variable)

(3+4j)

complex

Non-Numerical Data Types:

- **String (str):** Represents a sequence of characters enclosed within single quotes (') or double quotes (").

In [24]:
# Declaring varible for String
String_variable = "Hello Python"

print(String_variable)
type(String_variable)

Hello Python

str

- **Boolean (bool):** Represents a logical value indicating either True or False (0 or 1).

In [ ]:
# Declaring varible for Boolean
Boolean_variable = True  # or bool(1)

print(Boolean_variable)
type(Boolean_variable)

True

bool

## Lists

- **List (list):** Represents an ordered collection of elements enclosed within square brackets ([]). Lists can contain elements of different data types.

In [ ]:
# Creating a list 
List_variable = [1,2,3,4.5,5.55,"A","B","C",]

print(List_variable)
type(List_variable)

[1, 2, 3, 4.5, 5.55, 'A', 'B', 'C']

list

In [ ]:
# Read value for a list
List_variable[0] # First element (indexing)

1

In [ ]:
# Change/Update the item in the list
List_variable[1] = 8

print(List_variable)

[1, 8, 3, 4.5, 5.55, 'A', 'B', 'C']

### CRUD - Lists

Create

In [2]:
# Create 
New_list = ["Apple","Banana","Orange",3,4.5,5.55]

Read

In [3]:
# Read
New_list
print(New_list)

['Apple', 'Banana', 'Orange', 3, 4.5, 5.55]

In [4]:
# Read usign Indexing
print(New_list[0])
print(New_list[1])
print(New_list[-1])

print(len(New_list))

Apple
Banana
5.55
6

In [5]:
# Read using slicing
print(New_list[0:3])
print(New_list[2:])

['Apple', 'Banana', 'Orange']
['Orange', 3, 4.5, 5.55]

In [7]:
# Read using concatenation
print(New_list + ["Apple","Banana","Orange"])

['Apple', 'Banana', 'Orange', 3, 4.5, 5.55, 'Apple', 'Banana', 'Orange']

In [8]:
# Read using repetition
print(New_list * 3)

['Apple', 'Banana', 'Orange', 3, 4.5, 5.55, 'Apple', 'Banana', 'Orange', 3, 4.5, 5.55, 'Apple', 'Banana', 'Orange', 3, 4.5, 5.55]

Update

In [9]:
# Update
New_list[-2] = "Grapes"
New_list

['Apple', 'Banana', 'Orange', 3, 'Grapes', 5.55]

In [11]:
# Add
New_list.append(6)
New_list

['Banana', 'Orange', 3, 'Grapes', 5.55, 6]

In [12]:
# Add to a specific index
New_list.insert(2,"Apple")
New_list

['Banana', 'Orange', 'Apple', 3, 'Grapes', 5.55, 6]

In [13]:
# Reverse the list
New_list.reverse()
New_list

[6, 5.55, 'Grapes', 3, 'Apple', 'Orange', 'Banana']

Delete

In [10]:
# Delete
del New_list[0]
New_list

['Banana', 'Orange', 3, 'Grapes', 5.55]

## Tuples

- **Tuple (tuple):** Similar to lists, but they are immutable, meaning their **elements cannot be changed after creation**. Tuples are enclosed within parentheses ().

In [25]:
# Creating a Tuple
Tuple_variable = (1,2,3,4.5,5.55,"A","B","C",1)

print(Tuple_variable)
type(Tuple_variable)

(1, 2, 3, 4.5, 5.55, 'A', 'B', 'C', 1)

tuple

In [ ]:
# Read value for a list
Tuple_variable[2]

3

In [21]:
# Tuple can hav multiple same values in it
Tuple_variable = (1,2,3,4.5,5.55,"A","B","C",1,1,1)
print(Tuple_variable)

# Tuple values cannot be changed
#Tuple_variable[1] = 8

(1, 2, 3, 4.5, 5.55, 'A', 'B', 'C', 1, 1, 1)
(1, 2, 3, 4.5, 5.55, 'A', 'B', 'C', 1, 1, 1, 8)


The fundamental distinction between tuples and lists lies in their unique characteristics. Tuples, unlike lists, enforce **immutability**, meaning once created, their elements cannot be altered.

## Sets

- **Sets (set)** in Python are collections of unique elements, meaning they do not allow multiple occurrences of the same value. Each element in a set must be unique, and sets are defined using curly braces {} or the set() function.

In [3]:
# Creating a SET variable

Set_variable = {1,2,3,4.5,5.55,"A","B","C"}
type(Set_variable)

set

In [23]:
# Set does not support indexing
#Set_variable[1]

#set does not support slicing
#Set_variable[1:3]

# set does not supprt multiple occurance of the same value
Set_variable = {1,2,3,4.5,5.55,"A","B","C",1,1,1}
print(Set_variable)

# set values cannot be changed
#Set_variable[1] = 8

# set can use to remove the duplicates values in a list
List_variable = [1,2,3,4.5,5.55,"A","B","C",1,1,1]
Set_variable = set(List_variable)
print(list(Set_variable))

{1, 2, 3, 4.5, 5.55, 'A', 'B', 'C'}
[1, 2, 3, 4.5, 5.55, 'A', 'B', 'C']

## Dictionaries

- **Dictionary (dict)** is a collection of key-value pairs, where each key is unique and is used to store and retrieve corresponding values. Dictionaries are defined using curly braces {}, with keys and values separated by a colon :

In [17]:
# Creating a dictionary variable
dict_variable = {"key1":"value1","key2":"value2","key3":"value3"}

type(dict_variable)
print(dict_variable)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [20]:
# Accessing value using key
dict_variable["key1"]

'value1'

### CRUD - Dictionaries

Create

In [33]:
# Create
New_dict = {
    "key1":"value1",
    "key2":"value2",
    "key3":"value3",
    "key4":"value4"
    }

Read

In [17]:
# Read  
New_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [18]:
# Read using key
New_dict["key2"]

'value2'

In [23]:
# Print all keys
New_dict.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [22]:
# Print all values
New_dict.values()

dict_values(['value1', 'value2', 'value3', 'value4'])

In [26]:
print(list(New_dict.keys()))
print(list(New_dict.keys())[0])

print(list(New_dict.values()))

['key1', 'key2', 'key3', 'key4']
key1
['value1', 'value2', 'value3', 'value4']

Update

In [27]:
# Update 
New_dict["key1"] = "value11"
print(New_dict)

{'key1': 'value11', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [28]:
# Add
New_dict["key5"] = "value5"
print(New_dict)

{'key1': 'value11', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4', 'key5': 'value5'}

Delete

In [34]:
# Delete
del New_dict["key1"]
print(New_dict)

{'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

- Table of Differnt Between **Lists**, **Sets** and **Tuples**

| Feature                              | Lists                               | Sets                                   | Tuples                               |
|:-------------------------------------|:------------------------------------|:---------------------------------------|:-------------------------------------|
| Mutability                           | Mutable                             | Mutable                                | Immutable                            |
| Order                                | Ordered                             | Unordered                              | Ordered                              |
| Changeability of Items               | Items can be replaced or changed    | Items cannot be changed or replaced, but can be added or removed | Items cannot be changed or replaced after creation |
| Duplication of Items                 | Allows duplicate items              | Does not allow duplicate items         | Allows duplicate items                |
| Syntax                               | Defined with square brackets `[ ]`  | Defined with curly braces `{ }` or `set()` function | Defined with parentheses `( )`       |
| Example                              | `my_list = [1, 2, 3]`               | `my_set = {1, 2, 3}`                   | `my_tuple = (1, 2, 3)`                |